orbs:
  android: wordpress-mobile/android@0.0.32
  bundle-install: toshimaru/bundle-install@0.3.1

version: 2.1
jobs:
  Test:
    executor: 
      name: android/default
      api-version: "29"
    steps:
      - checkout
      - android/restore-gradle-cache
      - run:
          name: Build
          command: ./gradlew --stacktrace assembleDebug assembleRelease
      - run:
          name: Test
          command: ./gradlew --stacktrace testRelease
      - android/save-gradle-cache
      - android/save-test-results
  Lint:
    executor: 
      name: android/default
      api-version: "29"
    steps:
      - checkout
      - android/restore-gradle-cache
      - run:
          name: Lint
          command: ./gradlew --stacktrace lintRelease
      - android/save-gradle-cache
      - android/save-lint-results
  Installable Build:
    executor:
      name: android/default
      api-version: "29"
    steps:
      - checkout
      - bundle-install/bundle-install
      - run:
          name: Copy Secrets
          command: bundle exec fastlane run configure_apply
      - android/restore-gradle-cache
      - run:
          name: Build APK
          command: |
            if [ -n "$CIRCLE_PULL_REQUEST" ]; then
              PR_NUMBER=$(basename $CIRCLE_PULL_REQUEST)
              PREFIX="pr-${PR_NUMBER}"
            else
              PREFIX="$CIRCLE_BRANCH"
            fi
            VERSION_NAME="${PREFIX}-build-${CIRCLE_BUILD_NUM}"
            echo "export VERSION_NAME=$VERSION_NAME" >> $BASH_ENV
            ./gradlew --stacktrace assembleDebug -PversionName="$VERSION_NAME"
      - android/save-gradle-cache
      - run:
          name: Prepare APK
          command: |
            mkdir -p Artifacts
            mv Simplenote/build/outputs/apk/debug/Simplenote-debug.apk "Artifacts/Simplenote-${VERSION_NAME}.apk"
      - store_artifacts:
          path: Artifacts
          destination: Artifacts

workflows:
  simplenote-android:
    jobs:
      - Test
      - Lint
      - Installable Build
