<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.automattic.simplenote"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="com.automattic.simplenote.Simplenote"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Simplestyle" >
        <activity
            android:name="com.automattic.simplenote.NotesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.automattic.simplenote.NoteEditorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden"/>
        <activity
            android:name="com.automattic.simplenote.PreferencesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.automattic.simplenote.TagsListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name="net.hockeyapp.android.UpdateActivity" />
    </application>

</manifest>