<?xml version="1.0" encoding="utf-8"?>

<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.automattic.simplenote"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="com.automattic.simplenote.Simplenote"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.Simplestyle.Splash">

        <activity
            android:name="com.automattic.simplenote.AboutActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.Simplestyle.About">
        </activity>

        <activity
            android:name="com.automattic.simplenote.AddTagActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/Theme.Transparent.Dialog"
            android:windowSoftInputMode="adjustResize">
        </activity>

        <activity
            android:name="com.automattic.simplenote.NotesActivity"
            android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout"
            android:label="@string/app_launcher_name"
            android:resizeableActivity="true"
            android:windowSoftInputMode="adjustResize|stateHidden">

            <intent-filter>

                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts">
            </meta-data>

            <intent-filter>

                <action android:name="android.intent.action.SEND" />
                <action android:name="com.google.android.gm.action.AUTO_SEND" />
                <action android:name="com.google.android.voicesearch.action.AUTO_SEND" />
                <action android:name="com.automattic.simplenote.NEW_NOTE" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.google.android.voicesearch.SELF_NOTE" />

                <data android:mimeType="text/*" />

            </intent-filter>

            <intent-filter
                android:autoVerify="true">

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="app.simplenote.com"
                    android:pathPattern="/account/.*/reset?redirect=simplenote://launch"
                    android:scheme="https">
                </data>

            </intent-filter>

        </activity>

        <activity
            android:name="com.automattic.simplenote.NoteEditorActivity"
            android:configChanges="screenSize|smallestScreenSize|orientation|screenLayout"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <activity
            android:name="com.automattic.simplenote.NoteWidgetDarkConfigureActivity"
            android:theme="@style/Theme.Transparent">

            <intent-filter>

                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />

            </intent-filter>

        </activity>

        <activity
            android:name="com.automattic.simplenote.NoteWidgetLightConfigureActivity"
            android:theme="@style/Theme.Transparent">

            <intent-filter>

                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE" />

            </intent-filter>

        </activity>

        <activity
            android:name="com.automattic.simplenote.PreferencesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="Preferences"
            android:parentActivityName=".NotesActivity">
        </activity>

        <activity
            android:name="com.automattic.simplenote.authentication.SimplenoteAuthenticationActivity">
        </activity>

        <activity
            android:name="com.automattic.simplenote.authentication.SimplenoteCredentialsActivity">
        </activity>

        <activity
            android:name=".authentication.SimplenoteSignupActivity"
            android:theme="@style/Simperium" />

        <activity
            android:name="com.automattic.simplenote.StyleActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:parentActivityName=".PreferencesActivity">
        </activity>

        <activity
            android:name="com.automattic.simplenote.TagsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize">
        </activity>

        <activity android:name="com.automattic.simplenote.DeepLinkActivity">

            <intent-filter>

                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="simplenote" />

            </intent-filter>

        </activity>

        <activity
            android:name="net.openid.appauth.RedirectUriReceiverActivity"
            tools:node="replace" />

        <!--suppress AndroidDomInspection -->
        <activity
            android:name="org.wordpress.passcodelock.PasscodeUnlockActivity"
            android:theme="@style/Theme.Simplestyle.Passcode"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <!--suppress AndroidDomInspection -->
        <activity
            android:name="org.wordpress.passcodelock.PasscodeManagePasswordActivity"
            android:theme="@style/Theme.Simplestyle.Passcode"
            android:windowSoftInputMode="stateHidden">
        </activity>

        <!-- Google Play Services -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version">
        </meta-data>

        <meta-data
            android:name="com.sec.android.support.multiwindow"
            android:value="true">
        </meta-data>

        <receiver
            android:name="com.automattic.simplenote.NoteListWidgetDark"
            android:label="@string/note_list_widget_dark">

            <intent-filter>

                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />

            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/note_list_widget_info_dark">
            </meta-data>

        </receiver>

        <receiver
            android:name="com.automattic.simplenote.NoteListWidgetLight"
            android:label="@string/note_list_widget_light">

            <intent-filter>

                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />

            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/note_list_widget_info_light">
            </meta-data>

        </receiver>

        <receiver
            android:name="com.automattic.simplenote.NoteWidgetDark"
            android:label="@string/note_widget_dark">

            <intent-filter>

                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />

            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/note_widget_info_dark">
            </meta-data>

        </receiver>

        <receiver
            android:name="com.automattic.simplenote.NoteWidgetLight"
            android:label="@string/note_widget_light">

            <intent-filter>

                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />

            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/note_widget_info_light">
            </meta-data>

        </receiver>

        <service
            android:name="com.automattic.simplenote.NoteListWidgetDarkService"
            android:permission="android.permission.BIND_REMOTEVIEWS">
        </service>

        <service
            android:name="com.automattic.simplenote.NoteListWidgetLightService"
            android:permission="android.permission.BIND_REMOTEVIEWS">
        </service>

        <!-- Android Wear -->
        <service
            android:name="com.automattic.simplenote.utils.SimplenoteWearListenerService">

            <intent-filter>

                <action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" />

            </intent-filter>

        </service>

        <!-- Samsung Multi-Window Support -->
        <uses-library
            android:name="com.sec.android.app.multiwindow"
            android:required="false">
        </uses-library>

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false">
        </uses-library>

    </application>

</manifest>
