<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.automattic.simplenote"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name="com.automattic.simplenote.Simplenote"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Simplestyle">
    <activity
            android:name="com.automattic.simplenote.NotesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_launcher_name"
            android:windowSoftInputMode="adjustResize|stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.automattic.simplenote.NoteEditorActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.automattic.simplenote.PreferencesActivity"
            android:label="Preferences"
            android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
              <action android:name="android.intent.action.VIEW" />
              <category android:name="android.intent.category.DEFAULT" />
              <category android:name="android.intent.category.BROWSABLE" />
              <data android:scheme="simplenote" android:host="preferences" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.automattic.simplenote.TagsListActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <!-- Passcode Unlock-->
        <activity
            android:name="org.wordpress.passcodelock.PasscodeUnlockActivity"
            android:theme="@style/Theme.Simplestyle.NoActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="org.wordpress.passcodelock.PasscodePreferencesActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="org.wordpress.passcodelock.PasscodeManagePasswordActivity"
            android:theme="@style/Theme.Simplestyle.NoActionBar"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- Samsung Multi-Window Support -->
        <uses-library android:required="false" android:name="com.sec.android.app.multiwindow" />
        <meta-data android:name="com.sec.android.support.multiwindow" android:value="true" />

        <!-- Widget Provider -->
        <receiver android:name="com.automattic.simplenote.widget.SimpleNoteWidgetProvider" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                android:resource="@xml/simplenote_appwidget_info" />
        </receiver>

        <!-- configuration activity (reserved for future use) -->
        <!--
        <activity
            android:name="com.automattic.simplenote.widget.ConfigureWidget">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>
        -->

        <!-- service for widgets -->
        <service
            android:name=".widget.WidgetService"
            android:permission="android.permission.BIND_REMOTEVIEWS"/>

    </application>

</manifest>