body {
    color: #dbdee0;
    background-color: #2d3034;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.15;
}
h1 {
    font-weight: 300;
}
h5,
h6 {
    text-transform: uppercase;
}
hr {
    border: 0;
    border-top: 1px solid #575e65;
}
a {
    color: #4895d9;
    cursor: pointer;
    overflow-wrap: break-word;
    text-decoration: none;
    word-wrap: break-word;
}
img {
    height: auto;
    max-width: 100%;
}
blockquote {
    border-left: 4px solid #575e65;
    font-style: italic;
    margin-left: 0;
    padding-left: 1em;
}
code {
    background: #404549;
    font-size: 85%;
}
p {
    margin: 0 0 1.5em;
}
pre {
    border: 1px solid #575e65;
    padding: 1em;
}
pre code {
    color: #dbdee0;
    background: transparent;
}
p,
h4,
ul li,
ol li {
    font-size: ${P-SIZE}px;
}
h1 {
    font-size: ${H1-SIZE}px;
}
h2 {
    font-size: ${H2-SIZE}px;
}
h3 {
    font-size: ${H3-SIZE}px;
}
pre,
h5 {
    font-size: ${H5-SIZE}px;
}
h6 {
    font-size: ${H6-SIZE}px;
}
